*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/misc.xml
presentation/build.gradle.kts
presentation/proguard-rules.pro
presentation/src/androidTest/java/com/kkjang/cheongna/ExampleInstrumentedTest.kt
presentation/src/main/AndroidManifest.xml
presentation/src/main/java/com/kkjang/cheongna/MainActivity.kt
presentation/src/main/java/com/kkjang/cheongna/ui/theme/Color.kt
presentation/src/main/java/com/kkjang/cheongna/ui/theme/Theme.kt
presentation/src/main/java/com/kkjang/cheongna/ui/theme/Type.kt
presentation/src/main/res/drawable/ic_launcher_background.xml
presentation/src/main/res/drawable/ic_launcher_foreground.xml
presentation/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
presentation/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
presentation/src/main/res/mipmap-hdpi/ic_launcher.webp
presentation/src/main/res/mipmap-hdpi/ic_launcher_round.webp
presentation/src/main/res/mipmap-mdpi/ic_launcher.webp
presentation/src/main/res/mipmap-mdpi/ic_launcher_round.webp
presentation/src/main/res/mipmap-xhdpi/ic_launcher.webp
presentation/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
presentation/src/main/res/mipmap-xxhdpi/ic_launcher.webp
presentation/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
presentation/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
presentation/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
presentation/src/main/res/values/colors.xml
presentation/src/main/res/values/strings.xml
presentation/src/main/res/values/themes.xml
presentation/src/main/res/xml/backup_rules.xml
presentation/src/main/res/xml/data_extraction_rules.xml
presentation/src/test/java/com/kkjang/cheongna/ExampleUnitTest.kt
.idea/gradle.xml
.idea/deploymentTargetSelector.xml
.idea/.name
